@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
        url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


*, *::after, *::before {
    box-sizing: border-box;
}

*:focus {
    outline: 3px dotted #0082F4;
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
}

.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
}


.main-link:active {
    opacity: 0.6;
}
/* HEADER */

.site-header {
    margin-bottom: 127px;
}

.header-container {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
}

.site-logo {
    display: flex;
    margin-right: 301px;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.6;
}

.sitenav {
    margin-right: 232px;
}

.sitenav-link {
    display: inline-block;
    font-size: 20px;
    line-height: 23.44px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid transparent;
    padding-bottom: 28.5px;
    padding-top: 28.5px;
}

.sitenav-link:not(:last-child) {
    margin-right: 40px;
}

.sitenav-link:hover {
    color: #0082F4;
    border-bottom: 1px solid #0082F4;
}

.sitenav-link:active {
    outline: none;
}

.sitenav-link:focus {
    outline: none;
}

.main-link {
    padding: 14px 30px 15px;
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    border-radius: 6px;
    background-color: #0082F4;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.main-link:hover {
    opacity: 0.8;
}

.header-hr {
    border: none;
    background-color: #0283F5;
    height: 1px;
    opacity: .1;
    margin: 0;
}
/* /HEADER */

/* MAIN */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
    max-width: 1192px;
}

.hero-info {
    margin-right: 121px;
    width: 531px;
}

.hero-info-title {
    margin: 0;
    color: #0080FD;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 29.3px;
    letter-spacing: .1em;
    font-weight: 400;
    margin-right: 5px;
}

.hero-info-heading {
    margin: 0;
    width: 531px;
    font-weight: 700;
    font-size: 60.55px;
    line-height: 78px;
    color: #000000;
    margin-bottom: 20px;
}

.hero-info-title-blue {
    color: #0082F4;
}

.hero-info-text {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 436px;
    opacity: 0.6;
}

.hero-btn-wrapper {
    display: flex;
    align-items: center;
}

.hero-main-link {
    padding: 20px 46px;
}
.play-btn {
    margin-left: 30px;
    border: 1px solid rgba(0,130,244, .1);
    padding: 0;
    padding: 17px 34px;
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
}

.play-btn:hover {
    opacity: .8;
}

.play-btn:active {
    opacity: 0.6;
}

.play-btn-item {
    opacity: 1;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    align-items: center;
}

.play-btn-item::before {
    width: 29px;
    height: 29px;
    margin-right: 15px;
    display: flex;
    content: "";
    background-image: url("../img/play-video.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/* COMMUNITY */
.community-container {
    max-width: 1232px;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.community-img {
    margin-right: 140px;
    background-image: url("../img/platform-bg.png");
}

.community-title {
    font-weight: 500;
}

/* SERVICES */

.services-container {
    max-width: 1204px;
    margin-bottom: 150px;
}

.services-title {
    font-weight: 500;
    font-size: 48.44px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 60px;
    text-align: center;
}

.services-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: -20px;
    margin-right: -80px;
}

.services-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 334px;
    margin-bottom: 20px;
    margin-right: 80px;
}

.services-item-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 60px;
    border: 4px solid #0082F4;
}

.services-item-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    margin: 0;
    margin-bottom: 10px;
}

.services-item-text {
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 150%;
}

.customers-container {
    max-width: 1436px;
    margin-bottom: 150px;
}

.customers-title {
    margin: 0;
    font-weight: 500;
    font-size: 48.44px;
    line-height: 150%;
    margin-bottom: 60px;
}

.customers-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.customers-list-item {
    display: flex;
    width: 420px;
    height: 283px;
    border: 1px solid rgba(0,130,244, .1);
    border-radius: 10px;
}

.customers-list-item:not(:last-child) {
    margin-right: 40px;

}

.customers-img {
    width: 62px;
    background-color: #0082F4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 109px;
    padding-bottom: 109px;
    padding-left: 30px;
}

.customers-img img {
    width: 65px;
    height: 65;
    border-radius: 50%;
    display: block;
}

.customers-bio {
    padding-left: 65px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.customers-info {
    font-size: 20px;
    margin: 0;
    line-height: 30px;
    opacity: 0.7;
    flex-grow: 1;
    width: 201px;
}

.customers-info-2 {
    width: 255px;
}

.customers-info-3 {
    width: 263px;
}

.customers-name {
    margin: 0;
    margin-bottom: 10px;
}

.customers-work {
    margin: 0;
}

/* CONTACT */
.contact {
    background: rgba(232, 236, 255, 0.3);
}

.contact-container {
    padding-top: 75px;
    padding-bottom: 76px;
}

.contact-title {
    color: #058AFF;
    font-size: 31.25px;
    line-height: 36.62px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.contact-text {
    margin: 0;
    color: #000;
    opacity: 0.7;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    text-align: center;
    margin-bottom: 30px;
}

.contact-email {
    padding: 28px 15px 28px 25px;
    width: 487px;
    outline: 1px solid rgba(5,138,255, .2);
    border: none;
}

.contact-email::placeholder {
    font-size: 20px;
    opacity: 0.6;
    color: #000;
    line-height: 23.44px;
}

.site-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-main-link {
    margin-left: -125px;
}